NODE_ENV=development
MONGODB_URI=<set-at-runtime>
COOKIE_SECRET=<set-at-runtime>
CRYPTO_KEY=<set-at-runtime>
ZAP_API_KEY=<set-at-runtime>

SEED_ADMIN_PASSWORD=<set-at-runtime>
SEED_USER1_PASSWORD=<set-at-runtime>
SEED_USER2_PASSWORD=<set-at-runtime>
E2E_NEW_USER_PASSWORD=<set-at-runtime>
